* {
    box-sizing: border-box;
}
.table1 {
    width: 75%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    margin: 0 auto;
}
.td-table1 {
    border: 1px solid black;
    height: 50px;
    width: 33.33%;
}
.td-table1col {
    height: 200px;
    border: 1px solid black;
}
.table2par {
    margin: 50px auto;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
.td-table2par {
    margin-top: 20px;
    border: 1px solid black;
    height: 50px;
    width: 33.33%; 
}
.w40 {
    margin-top: 20px;
    border: 1px solid black;
    height: 50px;
    width: 40%;  
}
.w60 {
    margin-top: 20px;
    border: 1px solid black;
    height: 50px;
    width: 60%;
}
.w72 {
    margin-top: 20px;
    border: 1px solid black;
    height: 50px;
    width: 72%;
}
.w28 {
    margin-top: 20px;
    border: 1px solid black;
    height: 50px;
    width: 28%;
}
.table2d {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}
.td-table2d {
    border: 1px solid black;
    height: 50px;
    width: 33.33%; 
}