* {
    box-sizing: border-box;
}
.table1 {
    width: 75%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    margin: 0 auto;
}
.td-table1 {
    border: 1px solid black;
    height: 50px;
    width: 33.33%;
}
.td-table1col {
    height: 200px;
    border: 1px solid black;
}