* {
    box-sizing: border-box;
}
.table1 {
    width: 75%;
    margin-top: 20px;
    margin: 0 auto;
}
.td-table1,
.td-table1col,
.td-table2par,
.td-table2d,
.w40,
.w60,
.w72,
.w28,
.h200 {
    border: 1px solid black;
    height: 50px;
    width: 33.33%;
}
.td-table1col,
.h200 {
    height: 200px;
}
.table2par,
.table2d {
    margin: 50px auto;
    width: 90%;
}
.td-table2par {
    height: 50px;
}

.table1,
.table2par,
.table2d {
    text-align: center;
    border-collapse: collapse;
}

.td-table2par,
.w40,
.w60,
.w72,
.w28 {
    margin-top: 20px;
}
.w40 {
    width: 40%;  
}
.w60 {
    width: 60%;
}
.w72 {
    width: 72%;
}
.w28 {
    width: 28%;
}
.table2d {
    margin: 30px auto;
    width: 80%;
}